* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
html {
  background-color: #a9a9a9;
}
body {
  width: 90%;
  margin: auto;
}
/* header*/
header {
  padding: 0.5%;
  background-color: #487e5c;
  margin-top: 2%;
  margin-bottom: 2%;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* end */

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #0d092c;
  text-align: center;
  font-size: 2.2rem;
}

h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #032f0a;
  text-align: center;
}

/* || header layout */

article {
  background-color: white;
  padding: 1%;
}

nav {
  height: 50px;
  background-color: #487e5c;
  display: flex;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  text-align: center;
}
nav p {
  text-align: center;
  color: #def0f0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* || main layout */

main {
  display: flex;
}

article {
  flex: 4;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

aside {
  flex: 2;
  margin-left: 10px;
  background-color: #487e5c;
  padding: 1%;
}

aside p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  text-align: left;
  color: rgb(239, 239, 239);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}
aside h4 {
  font-size: large;
  color: #f8f9ef;
  text-align: center;
}
aside img {
  margin-left: 40%;
}

footer {
  margin-top: 10px;
  background-color: #487e5c;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f8f9ef;
  padding: 1%;
}
